<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<form method="post" action="" id="the-form">
    <table cellpadding="11">
    <tr>
        <td class="label">Nombre</td><td>: <input type="text" name="Nombre" value="<%=data[0].nombre%>"></td>
     </tr>
    <tr>
        <td class="label">Email</td><td>: <input type="text" name="correo" value="<%=data[0].correo%>"></td>
     </tr>
     <tr>
       <td class="label">Familia</td><td>: <input type="text" name="familia" value="<%=data[0].familia%>"></td>
    </tr>
      <tr>
        <td class="label">adultos</td><td>: <input type="number" name="adultos" value="<%=data[0].adultos%>"></td>
     </tr>
     <tr>
       <td class="label">menores</td><td>: <input type="number" name="menor" value="<%=data[0].menor%>"></td>
    </tr>
     <tr>
        <td class="label"></td>
        <td>
            &nbsp; <input type="button" value="Save" onClick="saveUser()">
        </td>
     </tr>
    </table>
</form>
 <script>

        function saveUser(){

           $.ajax({

            url:"/api/invitado/"+<%=data[0].correo%>,
            type:"put",
            data:$("#the-form").serialize(),
            success:function(res){

                window.location.href = '/api/invitado';
                return false;
            },
            error:function(xhr, status, error){

                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {

                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);
                return false;
            }

           });
        }

    </script>
</body>
</html>
